In [460]:
import pandas as pd

In [461]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [462]:
school_count = school_data_complete["school_name"].nunique()
student_count = school_data_complete["student_name"].count()
total_budget_df = school_data_complete.drop_duplicates(["budget"])
total_budget = total_budget_df["budget"].sum()
average_maths = school_data_complete["maths_score"].mean()
average_maths = average_maths.round(6)
average_reading = school_data_complete["reading_score"].mean()
average_reading = average_reading.round(6)

In [463]:
pass_mark = 49.9
maths_pass = school_data_complete["maths_score"]
pass_count = maths_pass[maths_pass > pass_mark].count()
maths_pass_percent = pass_count/student_count*100
maths_pass_percent = maths_pass_percent.round(6)
maths_pass_percent

86.078632

In [464]:
pass_mark = 49.9
reading_pass = school_data_complete["reading_score"]
pass_count = reading_pass[reading_pass > pass_mark].count()
reading_pass_percent = pass_count/student_count*100
reading_pass_percent = reading_pass_percent.round(6)
reading_pass_percent

84.426857

In [465]:
pass_both_count = len(school_data_complete[(school_data_complete["maths_score"]>49.9) & (school_data_complete["reading_score"]>49.9)])
pass_both_percent = pass_both_count/student_count*100
pass_both_percent = pass_both_percent.round(6)
pass_both_percent

72.808272

In [466]:
area_summary = pd.DataFrame([[school_count,student_count,total_budget,average_maths,average_reading,maths_pass_percent,reading_pass_percent,pass_both_percent]],
    columns=['Total Schools','Total Students','Total Budget','Average Maths Score','Average Reading Score','% Passing Maths','% Passing Reading',
    '% Overall Passing'])
area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

In [467]:
School_Summary = school_data

In [468]:
School_Summary["Per student budget"] = School_Summary["budget"] / School_Summary["size"]
school_avg_math = school_data_complete.groupby("school_name", as_index=False)["maths_score"].mean()
school_summary2 = pd.merge(School_Summary, school_avg_math, how="left", on=["school_name", "school_name"])
school_avg_read = school_data_complete.groupby("school_name", as_index=False)["reading_score"].mean()
school_summary3 = pd.merge(school_summary2, school_avg_read, how="left", on=["school_name", "school_name"])
school_pass_math = school_data_complete.groupby("school_name", as_index=False)["maths_score"].count()
school_pass_math =school_pass_math.rename(columns={"maths_score": "maths_total_count"})

In [469]:
school_pass_math = school_data_complete.groupby("school_name", as_index=False)["maths_score"].count()
school_pass_math =school_pass_math.rename(columns={"maths_score": "maths_total_count"})

In [470]:
school_pass_math2 = school_data_complete[school_data_complete['maths_score'] > pass_mark].groupby('school_name').count()

In [471]:
school_math_percent = pd.merge(school_pass_math, school_pass_math2[["maths_score"]], how="left", on=["school_name", "school_name"])

In [472]:
school_math_percent["% passing maths"] = school_math_percent["maths_score"] / school_math_percent["maths_total_count"] *100

In [473]:
school_summary4 = pd.merge(school_summary3, school_math_percent[["school_name", "% passing maths"]], how="left", on=["school_name", "school_name"])

In [474]:
school_pass_read = school_data_complete.groupby("school_name", as_index=False)["reading_score"].count()
school_pass_read = school_pass_read.rename(columns={"reading_score": "reading_total_count"})
school_pass_read2 = school_data_complete[school_data_complete['reading_score'] > pass_mark].groupby('school_name').count()
school_read_percent = pd.merge(school_pass_read, school_pass_read2[["reading_score"]], how="left", on=["school_name", "school_name"])
school_read_percent["% passing reading"] = school_read_percent["reading_score"] / school_read_percent["reading_total_count"] *100

In [475]:
school_summary5 = pd.merge(school_summary4, school_read_percent[["school_name", "% passing reading"]], how="left", on=["school_name", "school_name"])

In [476]:
school_pass_read = school_data_complete.groupby("school_name", as_index=False)["reading_score"].count()

In [477]:
school_pass_both = school_data_complete[(school_data_complete['maths_score'] > pass_mark) & (school_data_complete['reading_score'] > pass_mark)].groupby('school_name').count()

In [478]:
school_both_percent = pd.merge(school_pass_read, school_pass_both[["size"]], how="left", on=["school_name", "school_name"])
school_both_percent["% overall passing"] = school_both_percent["size"] / school_both_percent["reading_score"] *100

In [479]:
school_summary6 = pd.merge(school_summary5, school_both_percent[["school_name", "% overall passing"]], how="left", on=["school_name", "school_name"])

In [480]:
school_summary6 =school_summary6.rename(columns={"school_name": "School Name", "type": "School Type", "size": "Total Students", 
    "budget": "Total School Budget", "Per student budget": "Per Student Budget", "maths_score": "Average Maths Score", "reading_score": "Average Reading Score", "% passing maths": "% Passing Maths", "% passing reading": "% Passing Reading", "% overall passing": "% Overall Passing"})
school_summary6.drop('School ID', axis=1, inplace=True)
school_summary7 = school_summary6.sort_values(["School Name"], ascending=True)
school_summary7 = school_summary7.reset_index(drop=True)
per_school_summary = school_summary7
per_school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
1,Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
2,Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
3,Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
4,Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
5,Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
6,Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
7,Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
8,Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
9,Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
10,Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
11,Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
12,Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
13,Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
14,Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

In [481]:
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False).head()
top_schools = top_schools.reset_index(drop=True)
top_schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
1,Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
2,Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
3,Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
4,Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

In [482]:
bottom_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=True).head()
bottom_schools = bottom_schools.reset_index(drop=True)
bottom_schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
1,Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
2,Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
3,Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
4,Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

In [483]:
maths_year9 = school_data_complete.loc[school_data_complete.year == 9].groupby("school_name")["maths_score"].mean()
maths_year10 = school_data_complete.loc[school_data_complete.year == 10].groupby("school_name")["maths_score"].mean()
maths_year11 = school_data_complete.loc[school_data_complete.year == 11].groupby("school_name")["maths_score"].mean()
maths_year12 = school_data_complete.loc[school_data_complete.year == 12].groupby("school_name")["maths_score"].mean()
maths_by_year = pd.DataFrame([maths_year9, maths_year10, maths_year11, maths_year12])
maths_score_by_year = maths_by_year.T
maths_score_by_year.columns = ["Year 9", "Year 10", "Year 11", "Year 12"]
maths_score_by_year

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [484]:
reading_year9 = school_data_complete.loc[school_data_complete.year == 9].groupby("school_name")["reading_score"].mean()
reading_year10 = school_data_complete.loc[school_data_complete.year == 10].groupby("school_name")["reading_score"].mean()
reading_year11 = school_data_complete.loc[school_data_complete.year == 11].groupby("school_name")["reading_score"].mean()
reading_year12 = school_data_complete.loc[school_data_complete.year == 12].groupby("school_name")["reading_score"].mean()
reading_by_year = pd.DataFrame([reading_year9, reading_year10, reading_year11, reading_year12])
reading_score_by_year = reading_by_year.T
reading_score_by_year.columns = ["Year 9", "Year 10", "Year 11", "Year 12"]
reading_score_by_year

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [485]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [486]:
school_spending_df = per_school_summary

In [487]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels, include_lowest=True)

In [488]:
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Maths Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Maths"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [489]:
spending_maths_scores = spending_maths_scores.round(2)
spending_reading_scores = spending_reading_scores.round(2)
spending_passing_maths = spending_passing_maths.round(2)
spending_passing_reading = spending_passing_reading.round(2)
overall_passing_spending = overall_passing_spending.round(2)

In [490]:
spending_summary_a = pd.DataFrame([spending_maths_scores, spending_reading_scores, spending_passing_maths, spending_passing_reading, overall_passing_spending])
spending_summary = spending_summary_a.T
spending_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84,86.39,76.72
$585-630,72.07,71.03,91.52,87.29,79.88
$630-645,69.85,69.84,84.69,83.76,71.00
$645-680,68.88,69.05,81.57,81.77,66.76

In [491]:
size_bins = [0, 1000, 2000, 5000]
labels2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [492]:
size_summary_df = per_school_summary

In [493]:
size_summary_df["Spending Ranges (Size)"] = pd.cut(size_summary_df["Total Students"], size_bins, labels=labels2, include_lowest=True)

In [494]:
spending_maths_scores2 = size_summary_df.groupby(["Spending Ranges (Size)"]).mean()["Average Maths Score"]
spending_reading_scores2 = size_summary_df.groupby(["Spending Ranges (Size)"]).mean()["Average Reading Score"]
spending_passing_maths2 = size_summary_df.groupby(["Spending Ranges (Size)"]).mean()["% Passing Maths"]
spending_passing_reading2 = size_summary_df.groupby(["Spending Ranges (Size)"]).mean()["% Passing Reading"]
overall_passing_spending2 = size_summary_df.groupby(["Spending Ranges (Size)"]).mean()["% Overall Passing"]

In [495]:
size_summary_a = pd.DataFrame([spending_maths_scores2, spending_reading_scores2, spending_passing_maths2, spending_passing_reading2, overall_passing_spending2])
size_summary = size_summary_a.T
size_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Size),,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

In [496]:
type_summary_df = per_school_summary

In [497]:
spending_maths_scores3 = type_summary_df.groupby(["School Type"]).mean()["Average Maths Score"]
spending_reading_scores3 = type_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
spending_passing_maths3 = type_summary_df.groupby(["School Type"]).mean()["% Passing Maths"]
spending_passing_reading3 = type_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
overall_passing_spending3 = type_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [498]:
type_summary_a = pd.DataFrame([spending_maths_scores3, spending_reading_scores3, spending_passing_maths3, spending_passing_reading3, overall_passing_spending3])
type_summary = type_summary_a.T
type_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340