In [2]:
import pandas as pd

In [3]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [11]:
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [12]:
student_count = school_data_complete["student_name"].count()
student_count

39170

In [16]:
total_budget_df = school_data_complete.drop_duplicates(["budget"])
total_budget = total_budget_df["budget"].sum()
total_budget

24649428

In [18]:
average_maths = school_data_complete["maths_score"].mean()
average_maths = average_maths.round(6)
average_maths

70.338192

In [19]:
average_reading = school_data_complete["reading_score"].mean()
average_reading = average_reading.round(6)
average_reading

69.980138

In [24]:
pass_mark = 49.9
maths_pass = school_data_complete["maths_score"]
pass_count = maths_pass[maths_pass > pass_mark].count()
maths_pass_percent = pass_count/student_count*100
maths_pass_percent = maths_pass_percent.round(6)
maths_pass_percent

86.078632

In [25]:
pass_mark = 49.9
reading_pass = school_data_complete["reading_score"]
pass_count = reading_pass[reading_pass > pass_mark].count()
reading_pass_percent = pass_count/student_count*100
reading_pass_percent = reading_pass_percent.round(6)
reading_pass_percent

84.426857

In [28]:
pass_both_count = len(school_data_complete[(school_data_complete["maths_score"]>49.9) & (school_data_complete["reading_score"]>49.9)])
pass_both_percent = pass_both_count/student_count*100
pass_both_percent = pass_both_percent.round(6)
pass_both_percent

72.808272

In [29]:
LGA_Summary = pd.DataFrame([[school_count,student_count,total_budget,average_maths,average_reading,maths_pass_percent,reading_pass_percent,pass_both_percent]],
    columns=['Total Schools','Total Students','Total Budget','Average Maths Score','Average Reading Score','% Passing Maths','% Passing Reading',
    '% Overall Passing'])
LGA_Summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272